        <footer class="footer">
            <div class="footer-general">
                <div class="footer-left">2016 Derechos Reservados Mec&aacute;nica Total.</div>
                <div class="footer-right">servicio@mecanicatotal.mx.</div> 
            </div>
        </footer>