        <div class="header-panel shadow-z-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <img src="images/logo-new.png" class="main-logo">
                    </div>
                    <div class="col-md-9">
                        <div>
                            <H1 class="main-title"><%= PageTitle %></H1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
