<!DOCTYPE html>
<html>
    <head>
        <!-- DEBUG -->
        <script>
            document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
        </script>

        <!-- Window Title -->
        <title>Total Mechanic | Acceso al Sistema</title>

        <!-- Metas -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%- include('../../components/master-page/import-css') %>

    </head>
    <body style="background-color:#333">
        <!-- Header -->
        <%- include('../../components/master-page/header') %>

        <!-- Page Content -->
        <div class="container">

            <div class="jumbotron jumbo-warning animated flipInY" style="max-width:600px;margin:5% auto;">
                <table>
                    <tr>
                        <td><img src="images/unauthorized.jpg" style="border-radius: 50%;"></td>
                        <td style="padding-left: 20px;">
                            <h1>Upps!</h1>
                            <h2 style="padding-left:12px;padding-top:10px;">Creo que no puedes entrar aquí :(</h2>
                        </td>
                    </tr>
                </table>            
            </div>

        </div>


        <!-- Footer -->
        <%- include('../../components/master-page/footer')                                   %>

        <!-- Scripts -->
        <%- include('../../components/master-page/import-js-extranet-orders')                %>

    </body>
</html>
