#customer-satisfaction-dialog {
    display: none;
}

div#customer-satisfaction-dialog img#satisfactionImage {
    height:100px;
    margin-top:-40px;
    margin-left:-20px;
}

div#customer-satisfaction-dialog h3#labelSatisfactionIndex {
    margin-top:8px;
}