div#vehicle-info-dialog {
    display: none;
}

div#vehicle-info-dialog h4.check-results {
    text-align:center;
    font-weight:bold;
}

div#vehicle-info-dialog table#check-table {
    overflow-x: scroll;
}

div#vehicle-info-dialog .check-legend2-description {
    padding-left: 5px;
    min-width: 80px;
    max-width: 80px;
    width: 80px; 
}

div#vehicle-info-dialog .hr-no-bottom-margin {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div#vehicle-info-dialog .hr-no-top-margin {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div#vehicle-info-dialog table#check-table>tbody>tr>td>div.color-status {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

div#vehicle-info-dialog table#check-table>tbody>tr>td>div.ok {
    background-color: lightgreen;
}

div#vehicle-info-dialog table#check-table>tbody>tr>td>div.average {
    background-color: darkgrey;
}

div#vehicle-info-dialog table#check-table>tbody>tr>td>div.bad {
    background-color: orange;
}

div#vehicle-info-dialog table#check-table>tbody>tr>td>div.terrible {
    background-color: firebrick;
}

div#vehicle-info-dialog table#check-table-legend {
    max-width:350px;
}

div#vehicle-info-dialog table#check-table-legend>tbody>tr>td>div.color-legend {
    width:12px;
    height:12px;
    border-radius:50%;
    box-shadow: 0 0 3px white;
}

div#vehicle-info-dialog table#check-table-legend>tbody>tr>td>div.color-legend-ok {
    background-color:lightgreen;
}

div#vehicle-info-dialog table#check-table-legend>tbody>tr>td>div.color-legend-average {
    background-color: darkgray;
}

div#vehicle-info-dialog table#check-table-legend>tbody>tr>td>div.color-legend-bad {
    background-color:orange;
}

div#vehicle-info-dialog table#check-table-legend>tbody>tr>td>div.color-legend-terrible {
    background-color:firebrick;
}

