/* ----------------------------------------------- */
/* Header                                          */
/* ----------------------------------------------- */
.header-panel {
    background: url(/images/barra-header2.png)10%;
    background-size: cover;
    height: 144px;
    position: relative;
    z-index: 3;
    box-shadow: 1px 3px 14px 1px rgba(0,0,0,0.75);
}

.header-panel div {
    position: relative;
    height: 100%;
}

.header-panel h1 {
    color: #FFF;
    /*font-size: 20px;*/
    /*font-weight: 400;*/
    position: absolute;
    bottom: 10px;
    padding-left: 35px;
}

.main-logo {
    margin-left: -45px;
    height: 145px;
}

.main-title {
  top: 0px;
  right: 15px;
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}