/* ----------------------------------------------- */
/* Table Master State (Colors)                     */
/* ----------------------------------------------- */
#master-table .pending-ppto-td {
    /* Intranet */
    background-color:#f1c40f !important;
}

/*.table>tbody>tr.pending-ppto>td {
   background-color: #fcf8e3; 
}*/

#master-table .pending-approval-td {
    /* Extranet */
    background-color:#34495e !important;
}

/*.table>tbody>tr.pending-approval>td {
   background-color: #fcf8e3; 
}
*/
#master-table .in-process-ok-td {
    /* Intranet / Extranet */
    background-color:olive !important;
}

/*.table>tbody>tr.in-process-ok>td {
   background-color: #fcf8e3; 
}*/

#master-table .in-process-delayed-td {
    /* Intranet / Extranet */
    background-color:firebrick !important;
}

/*.table>tbody>tr.in-process-delayed>td {
   background-color: #fcf8e3; 
}*/

#master-table .pending-invoice-td {
    /* Intranet */
    background-color:#8e44ad !important;
}

/*.table>tbody>tr.pending-invoice>td {
   background-color: #fcf8e3; 
}*/

#master-table .pending-invoice-review-td {
    /* Extranet */
    background-color:#e67e22 !important;
}

/*.table>tbody>tr.pending-invoice-review>td {
   background-color: #fcf8e3; 
}*/

#master-table .finished-td {
    /* Intranet / Extranet */
    background-color:#2ecc71 !important;
}

/*.table>tbody>tr.finished>td {
   background-color: #fcf8e3; 
}*/

/* ----------------------------------------------- */
/* Table Legend                                    */
/* ----------------------------------------------- */
table#master-table-legend {
    max-width:350px;
    margin:0 auto;
}

table#master-table-legend>tbody>tr>td>div.legend {
    width:12px;
    height:12px;
    border-radius:50%;
    box-shadow: 0 0 3px white;
}

table#master-table-legend>tbody>tr>td>div.legend-pending-ppto {
    background-color:#f1c40f;
}

table#master-table-legend>tbody>tr>td>div.legend-pending-approval {
    background-color:#34495e;
}

table#master-table-legend>tbody>tr>td>div.legend-in-process-ok {
    background-color:olive;
}

table#master-table-legend>tbody>tr>td>div.legend-in-process-delayed {
    background-color:firebrick;
}    

table#master-table-legend>tbody>tr>td>div.legend-pending-invoice {
    background-color:#8e44ad;
}

table#master-table-legend>tbody>tr>td>div.legend-pending-invoice-review {
    background-color:#e67e22;
}

table#master-table-legend>tbody>tr>td>div.legend-ready {
    background-color:#2ecc71;
}


table#master-table-legend .check-legend-color {
    min-width: 16px;
    max-width: 16px;
    width: 16px;
    padding: 2px;
}

table#master-table-legend .check-legend-description {
    padding-left: 5px;
    min-width: 140px;
    max-width: 140px;
    width: 140px; 
}


/* ----------------------------------------------- */
/* Content Table Main */
/* ----------------------------------------------- */
#master-table {
    overflow-x: scroll;
}

#master-table>thead>tr>th {
    text-align: center;
}

#master-table>tbody>tr>td {
    text-align: center;
}

/* Icon Animations */
#master-table tr td a img {
	display: block;
	transition: all 0.5s;
}

#master-table tr td a img.brightness:hover 
{
	filter: brightness(1.75);
}

#master-table tr td a img.opaque:hover 
{
	filter: opacity(100%);
}

#master-table tr td a img.blurry:hover 
{
	filter: blur(1px);
}

#master-table td {
    padding-top: 10px;
}

/* Filter Order Classes */
#master-table .display-init {
    display: none;
}

#master-table>tbody>tr.waiting {
    display: none;
}

#master-table>tbody>tr.pending-auth {
    display: table-row;
}

#master-table>tbody>tr.finished {
    display: none;
}

/* Color Column Indicators (Column 1) */
.table-row {
    min-width:2px;
    max-width:2px;
    width:2px;
}



/* Table General Contents */
.table-content-important {
    font-weight: bold !important;
}

.table-cell-button {
    margin-top:-4px;
}

.hand-cursor {
    cursor: hand;
    outline: 0;
}

/* Icon Images */
img.info-image {
    height: 38px;
    margin: -3px auto;
}

img.client-order-image {
    height: 38px;
    margin: -5px auto;
}

img.satisfaction-image {                                 
    height: 45px;
    margin: -5px auto;
}


.badge-order-options {
    margin-top: -80px !important;
    margin-left: 35px !important;
    background-color: firebrick;
    animation: blinker 1s linear infinite;
}

.badge-order-options-dialog {
    position: absolute;
    margin-top: -70px !important;
    margin-left: 5px !important;
    background-color: firebrick !important;
    animation: blinker 1s linear infinite;
}


@keyframes blinker {  
  50% { opacity: 0; }
}